@model IEnumerable<BlogViewModel>
<!-- blog section start -->
<section class="blog-section section-b-space">
    <div class="container">     
        <div class="slide-2  no-arrow ">
            

            @foreach (var blog in Model)
            {
                <div>

                    <div class="blog-box">
                        

                        <div class="img-part">
                            <a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id">

                                <div>
                                    <img src="~/images/Hilal/@blog.Photo" class="img-fluid blur-up lazyload w-100"
                                         alt="">
                                </div>
                                </a>
                                <div class="blog-date">
                                    <div>
                                        <h5>01</h5>
                                        <h6>jan</h6>
                                    </div>
                                </div>
                        </div>
                        <div class="blog-content">
                            <div>
                                <h5>@blog.PostedBy</h5>
                                <p>@blog.Title</p>
                                <h6>@blog.Description</h6>
                                <a href="@blog.EndPoint" class="btn btn-curve">
                                    @blog.ActionText

                                </a>
                            </div>
                        </div>
                    </div>


            </div>
        }

        </div>
        </div>
</section>
<!-- blog section end -->
